@model HybridIntegration.Models.Register
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>


    @using (Html.BeginForm("Register", "Register", new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        <div>
        <fieldset>
            <legend>Registration Form</legend>
           
                     <div class="editor-label">@Html.LabelFor(m => m.UserName)</div>
                     <div class="editor-field">@Html.TextBoxFor(m => m.UserName, new { id = "registerName" })</div>
               
                     <div class="editor-label">@Html.LabelFor(m => m.FirstName)</div>
                     <div class="editor-field">@Html.TextBoxFor(m => m.FirstName)</div>
              
                     <div class="editor-label">@Html.LabelFor(m => m.LastName)</div>
                     <div class="editor-field">@Html.TextBoxFor(m => m.LastName)</div>
               
                     <div class="editor-label">@Html.LabelFor(m => m.Address)</div>
                     <div class="editor-field">@Html.TextBoxFor(m => m.Address)</div>
                
                     <div class="editor-label">@Html.LabelFor(m => m.PanNo)</div>
                     <div class="editor-field">@Html.TextBoxFor(m => m.PanNo)</div>
            
                     <div class="editor-label">@Html.LabelFor(m => m.AdharNo)</div>
                     <div class="editor-field">@Html.TextBoxFor(m => m.AdharNo)</div>
                
                     <div class="editor-label">@Html.LabelFor(m => m.Password)</div>
                     <div class="editor-field">@Html.PasswordFor(m => m.Password)</div>
               
                     <div class="editor-label">@Html.LabelFor(m => m.ConfirmPassword)</div>
                     <div class="editor-field">@Html.PasswordFor(m => m.ConfirmPassword)</div>

                 
            <p><input type="submit" value="SignUp"/></p>
          
            @Html.ValidationSummary()
        </fieldset>
        </div>
    }


